body {
		font-size:36px;
		font-family:"Courier New", Courier, monospace;
}

#containBox, #resizeBox { 
         border:solid 2px #000000; 
		 background-color:#FFFFFF;
         min-width:200px; 
         min-height:35px; 
         padding:5px; 
         margin:5px;  
         cursor:crosshair; 
         float:left 
} 

table {
		font-family:'Courier New', Courier, monospace; 
		font-size:24px;
}